.nav-text {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    /* font-family: 'Montserrat'; */
    /* font-family: 'Rubik'; */
    /* font-family: 'PT Sans'; */
    font-weight: 600;


}

.main-item {
    padding: 10px;
    /* cursor: pointer; */
    color: #ccc;
    text-decoration: none;
    transition: background 0.5s, color 0.5s;
}
.main-item:hover {
    color: #fff;
    background-color: #666;
}

.sub-menu {
    position: absolute;
    top: 0;
    left: 100%; /* Панель появляется справа от основного меню */
    width: 0px;
    background-color: #555;
    display: none;
    flex-direction: column;
    border-radius: 0 10px 10px 0;
    z-index: 1001; /* Поверх основного меню */
}

.sub-menu.open {
    display: flex;
    width: 150px;
    transition: width 0.5s;
}

.sub-item {
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #ccc;
    border-radius: 0 10px 10px 0;
}

.sub-item:hover {
    color: #fff;
    background-color: #666;
    transition: background 0.5s, color 0.5s;
}
