@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Abril+Fatface&family=Rubik+Mono+One&family=Scada&display=swap');

.Cards {
    display: flex;
    background-color: #fff;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px
}
